#header{
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    margin-top: 84px;
    margin-bottom: 55px;
    text-align: center;
}
h1{
    font-size: 64px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -.009em;
    text-align: center;
}
p div{
    text-align: center;
    color: #1d1d1f;
    font-style: normal;
    text-decoration: none;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
}
a button{
    color: #06c;    
    text-decoration: none;
    font-style: normal;
}
button{
    text-decoration-style: none;
    border-style: none;
}