#colonnes{
    display: grid;
    --column-gap: 5%;
    --columns: 3;

    grid-template-columns: repeat(var(--columns), calc((100% - var(--column-gap) * (var(--columns) - 1))/var(--columns)));
    column-gap: var(--column-gap);
}